<div class="menu-items">

  <h2>Curry Combo</h2>
  <table class="table">
    <thead>
      <tr>
        <td><img src="{{ 'Original.png' | asset_url }}" width="300px" alt="Original Curry"></td>
        <td class="name-and-price">Original Curry<br>$10.45</td>
        <td><img src="{{ 'Chicken-Katsu.png' | asset_url }}" width="300px" alt="Chicken Katsu"></td>
        <td class="name-and-price">Chicken Katsu Curry<br>$15.45</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="{{ 'Pork-Katsu.png' | asset_url }}" width="300px" alt="Pork Katsu"></td>
        <td class="name-and-price">Pork Katsu Curry<br>$15.95</td>
        <td><img src="{{ 'Croquette.png' | asset_url }}" width="300px" alt="Croquette Curry"></td>
        <td class="name-and-price">Croquette Curry<br>$14.20</td>
      </tr>
      <tr>
        <td><img src="{{ 'Fried-Shrimp.png' | asset_url }}" width="300px" alt="Fried Shrimp Curry"></td>
        <td class="name-and-price">Fried Shrimp Curry<br>$15.45</td>
        <td><img src="{{ 'Kurobuta-Sausage.png' | asset_url }}" width="300px" alt="Sausage Curry"></td>
        <td class="name-and-price">Sausage Curry<br>$14.95</td>
      </tr>
      <tr>
        <td><img src="{{ 'Beef.png' | asset_url }}" width="300px" alt="Beef Curry"></td>
        <td class="name-and-price">Beef Curry<br>$17.45</td>
        <td><img src="{{ 'Spam-Katsu.png' | asset_url }}" width="300px" alt="Spam Katsu"></td>
        <td class="name-and-price">Spam Katsu Curry<br>$14.95</td>
      </tr>
      <tr>
        <td><img src="{{ 'Meatloaf.png' | asset_url }}" width="300px" alt="Meatloaf Curry"></td>
        <td class="name-and-price">Meatloaf Curry<br>$15.45</td>
        <td><img src="{{ 'Spinach.png' | asset_url }}" width="300px" alt="Spinach Curry"></td>
        <td class="name-and-price">Spinach Curry<br>$13.95</td>
      </tr>
      <tr>
        <td><img src="{{ 'Vegatable.png' | asset_url }}" width="300px" alt="Vegetable Curry"></td>
        <td class="name-and-price">Vegetable Curry<br>$13.95</td>
        <td><img src="{{ 'Tofu-Katsu.png' | asset_url }}" width="300px" alt="Tofu Katsu Curry"></td>
        <td class="name-and-price">Tofu Katsu Curry<br>$14.45</td>
      </tr>
      <tr>
        <td><img src="{{ 'Grilled-Chicken.png' | asset_url }}" width="300px" alt="Grilled Chicken"></td>
        <td class="name-and-price">Grilled Chicken Curry<br>$15.45</td>
        <td><img src="{{ 'Calamari.png' | asset_url }}" width="300px" alt="Calamari Curry"></td>
        <td class="name-and-price">Calamari Curry<br>$14.95</td>
      </tr>
      <tr>
        <td><img src="{{ 'Sauteed-Chicken.png' | asset_url }}" width="300px" alt="Sautéed Chicken"></td>
        <td class="name-and-price">Sautéed Chicken Curry<br>$14.95</td>
        <td><img src="{{ 'Chicken-Karaage.png' | asset_url }}" width="300px" alt="Karaage Curry"></td>
        <td class="name-and-price">Karaage Curry<br>$15.45</td>
      </tr>
      <tr>
        <td><img src="{{ 'Chicken-Tender.png' | asset_url }}" width="300px" alt="Chicken Tender Curry"></td>
        <td class="name-and-price">Chicken Tender Curry<br>$16.45</td>
        <td><img src="{{ 'Curry-Udon.png' | asset_url }}" width="300px" alt="Curry Udon"></td>
        <td class="name-and-price">Curry Udon<br>$12.00</td>
      </tr>
    </tbody>
  </table>

  <h2>Extra Toppings</h2>
  <table class="table">
    <tbody>
      <tr><td>Chicken Katsu</td><td>$5.00</td><td>Fried Calamari</td><td>$4.50</td></tr>
      <tr><td>Pork Katsu</td><td>$5.50</td><td>Spam Katsu</td><td>$4.50</td></tr>
      <tr><td>Chicken Karaage</td><td>$5.00</td><td>Tofu Katsu</td><td>$4.50</td></tr>
      <tr><td>Grilled Chicken</td><td>$5.00</td><td>Vegetable</td><td>$3.50</td></tr>
      <tr><td>Chicken Tenderloin</td><td>$6.00</td><td>Spinach</td><td>$3.50</td></tr>
      <tr><td>Sautéed Chicken</td><td>$4.50</td><td>Steamed Tofu</td><td>$3.25</td></tr>
      <tr><td>Japanese Meatloaf</td><td>$5.00</td><td>Boiled/Fried Egg</td><td>$2.00</td></tr>
      <tr><td>Beef</td><td>$7.00</td><td>Scrambled Egg</td><td>$2.00</td></tr>
      <tr><td>Kurobuta Sausage</td><td>$4.50</td><td>Cheese</td><td>$2.00</td></tr>
      <tr><td>Croquette</td><td>$3.75</td><td>Corn</td><td>$1.00</td></tr>
      <tr><td>Fried Shrimp</td><td>$5.00</td><td>Natto</td><td>$2.50</td></tr>
    </tbody>
  </table>

  <h2>Entrees</h2>
  <table class="table">
    <thead>
      <tr>
        <td><img src="{{ 'Karaage-Bowl.png' | asset_url }}" width="300px" alt="Karaage Bowl"></td>
        <td class="name-and-price">Karaage Bowl<br>$8.50</td>
        <td><img src="{{ 'Katsudon.png' | asset_url }}" width="300px" alt="Katsudon"></td>
        <td class="name-and-price">Katsudon<br>$12.00</td>
        <td><img src="{{ 'Yakiudon.png' | asset_url }}" width="300px" alt="Yaki Udon"></td>
        <td class="name-and-price">Yaki Udon<br>$12.00</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="{{ 'Yakisoba.png' | asset_url }}" width="300px" alt="Yakisoba"></td>
        <td class="name-and-price">Yakisoba<br>$12.00</td>
      </tr>
    </tbody>
  </table>

  <h2>Sides</h2>
  <table class="table">
    <thead>
      <tr>
        <td><img src="{{ 'Gyoza.png' | asset_url }}" width="300px" alt="Gyoza"></td>
        <td class="name-and-price">Gyoza<br>$5.75</td>
        <td><img src="{{ 'Karaage.png' | asset_url }}" width="300px" alt="Chicken Karaage"></td>
        <td class="name-and-price">Chicken Karaage<br>$5.00</td>
        <td><img src="{{ 'Shumai.png' | asset_url }}" width="300px" alt="Shumai"></td>
        <td class="name-and-price">Shumai<br>$5.00</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="{{ 'Chiken-Katsu-Salad.png' | asset_url }}" width="300px" alt="Chicken Katsu Salad"></td>
        <td class="name-and-price">Chicken Katsu Salad<br>$6.95</td>
        <td><img src="{{ 'Takoyaki.png' | asset_url }}" width="300px" alt="Takoyaki"></td>
        <td class="name-and-price">Takoyaki<br>$5.75</td>
        <td><img src="{{ 'Oyster.png' | asset_url }}" width="300px" alt="Fried Oysters"></td>
        <td class="name-and-price">Fried Oysters<br>3pc $4.50<br>5pc $7.25</td>
      </tr>
      <tr>
        <td><img src="{{ 'Edamame.png' | asset_url }}" width="300px" alt="Edamame"></td>
        <td class="name-and-price">Edamame<br>$4.00</td>
        <td><img src="{{ 'Tofu-Salad.png' | asset_url }}" width="300px" alt="Tofu Salad"></td>
        <td class="name-and-price">Tofu Salad<br>$4.50</td>
        <td><img src="{{ 'Reg-Salad.png' | asset_url }}" width="300px" alt="Regular Salad"></td>
        <td class="name-and-price">Regular Salad<br>$2.50</td>
      </tr>
      <tr>
        <td><img src="{{ 'Curry-Fries.png' | asset_url }}" width="300px" alt="Curry Fries"></td>
        <td class="name-and-price">Curry Fries<br>$5.00</td>
        <td><img src="{{ 'Fries.png' | asset_url }}" width="300px" alt="Fries"></td>
        <td class="name-and-price">Fries<br>$3.50</td>
      </tr>
    </tbody>
  </table>

  <h2>Drinks</h2>
  <table class="table">
    <tbody>
      <tr><td>Sodas<br>Sprite, Coke, Diet Coke, Dr.Pepper</td><td>$1.95</td><td>Peach Oolong Tea</td><td>$1.95</td></tr>
      <tr><td>Calpico Soda</td><td>$1.95</td><td>Milk Tea</td><td>$1.95</td></tr>
      <tr><td>Calpico Bottled<br>Strawberry, Mango</td><td>$1.95</td><td>Milk Coffee</td><td>$1.95</td></tr>
      <tr><td>Green Tea</td><td>$3.00</td><td>Thai Iced Tea</td><td>$3.00</td></tr>
      <tr><td>Jasmine Green Tea</td><td>$1.00</td><td>Bottled Water</td><td>$1.00</td></tr>
    </tbody>
  </table>

  <h2>Desserts</h2>
  <table class="toppings-table">
    <tbody>
      <tr>
        <td>Mochi Ice Cream<br>Strawberry, Mango, Matcha</td><td>$1.50</td>
        <td>Japanese Cheesecake<br>Mango, Matcha</td><td>$3.50</td>
      </tr>
    </tbody>
  </table>

</div>

{% schema %}
{
  "name": "Menu Items",
  "presets": [
    {
      "name": "Menu Items"
    }
  ]
}
{% endschema %}
